body {
  background: rgb(81, 77, 144);
  background: linear-gradient(
    90deg,
    rgba(81, 77, 144, 1) 0%,
    rgba(61, 144, 171, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  text-align: center;
  margin: auto;
}

.wrapper {
  padding: 15px;
  margin: auto;
  margin-top: 50px;
  width: 80vw;
  max-width: 600px;
  background-color: rgba(255, 127, 80, 0.658);
  padding-top: 50px;
}

.wrapper input {
  font-size: large;
  border: white;
  height: 20px;
  text-align: center;
}

.wrapper button {
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#refresh-button {
  margin-top: 50px;
}

.wrapper button {
  appearance: button;
  background-color: #1652f0;
  border: 1px solid #1652f0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 8px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.wrapper button:disabled {
  opacity: 0.5;
}

.wrapper button:focus {
  outline: 0;
}

.wrapper button:hover {
  background-color: #0a46e4;
  border-color: #0a46e4;
}

.wrapper button:active {
  background-color: #0039d7;
  border-color: #0039d7;
}
