.wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 100%;

    padding-right: 10px;
    padding-left: 10px;
}


body {
    background-color: rgb(218, 220, 240);

    
    text-align: center;
    margin: auto;

}

  
p {
    font-family: verdana;
    font-size: 50%;
  }

  .emptyBox {
    background-color: #d689248e; 
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 50%;
    height: 50%;
    border-radius: 5%;
    position: fixed;
    left: 25%;
    top: 25%;  
    z-index: 0;
}

.button button {
    background-color: #8ae4e7; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    cursor: pointer;
    width: 30%;
    
}

.button:active {
    
    transform: translateY(2px);
  
  }

.textContainer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    height: 60%;
    width: 50%;
    left: 40%;
    top: 20%;
}

input {
    position: relative;
    height: 40px;
    width: 80%;
    text-align: center;
}


.text1 {
    position: relative;
    left: 0%;
    top: 15%;
    z-index: 2;
}

.text2 {
    position: relative;
    left: 0%;
    top: 20%;
    z-index: 2;   
}

.text3 {
    position: relative;
    left: 0%;
    top: 25%;
    z-index: 2;     
}

.text4 {
    position: relative;
    left: 0%;
    top: 30%;
    z-index: 2;     
}

.boxFirstName {
    position: relative;
    left: -30%;
    top: 30%;
    z-index: 2;
    text-align: center;
}

.boxLastName {
    position: relative;
    left: -30%;
    top: 27%;   
    z-index: 2;
    text-align: center;  
}

.boxRace {
    position: relative;
    left: -30%;
    top: 31%;   
    z-index: 2;
    text-align: center;  
}

.boxClass {
    position: relative;
    left: -30%;
    top: 36%;   
    z-index: 2;
    text-align: center;  
}

.refreshButton {
    position: relative;
    left: 15%;
    top: 5%;
    z-index: 2;   
}

.tBoxPos {
    position: relative;
    left: 0%;
    top: -35%;
    width: 200px;  
    z-index: 2;
} 
